[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/cnboonhan/.local/kitty.app/bin/kitty
StartupNotify=true
Exec=/home/cnboonhan/.local/kitty.app/bin/kitty
Icon=/home/cnboonhan/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;