Host github.com
  HostName github.com
  User git
  IdentityFile ~/.decrypt/.ssh/id_rsa_github

# Travel Hotspot
Host hotspot
  User root
  HostName 192.168.1.1
  Port 22
  IdentityFile ~/.decrypt/.ssh/id_rsa

# Android Phone Proxy
Host proxy
  User u0_a184
  #HostName proxy.local
  HostName 10.8.0.2
  Port 8022
  IdentityFile ~/.decrypt/.ssh/id_rsa
